p {
    color: white;
}

h1 {
    color: white;
    padding: 130px 0 50px;
}

.currency{
    padding: 10px;
}
body {
    background-image:url(https://static.videezy.com/system/resources/thumbnails/000/010/372/original/loop-of-soft-pink-lights-moving-and-fading-on-4k-dark-background.jpg);
    background-size: cover; 
}

label {
    color: white;
}

.main {
    height: 1000px;
    width: auto;
}

.result {
    color: aqua;
}

.input-group mb-3 {
    width: 200px;
}